#gameBoard {
    width: 730px;
    cursor: pointer;
    display: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    text-align: center;
    color: black;
    border:1px solid black;
    font-family: Copperplate, Fantasy;
    font-size: 20px;
    display: center;
    margin-left: auto;
    margin-right: auto;
}

.column /* this is a cell within the row */{
    width: 100px;
    height: 100px;
    margin: 0px;
    border: 2px pink solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 78px;
}

.row {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.marker {
    width: 80px;
    height: 80px;
}

.column:hover {
    background-color: #E0E0E0;
}

#winner-display {
    display: none;
    background-color: red;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    width: 730px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#column-full-display {
    display: none;
    color: red;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#first-player-display {
    display: block;
    color: red;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#player-turn-display {
    display: none;
    color: red;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

body {
    text-align: center;
    color: pink;
    font-family: Copperplate, Fantasy;
    font-size: 100px;
}

h1 {
    font-size: 50px;
}

#reset-board-button {
    font-size: 30;
    font-family: Copperplate, Fantasy;
    background-color: #50a4c0;
    padding: 8px 8px;
}

#reset-game-button {
    font-size: 30;
    font-family: Copperplate, Fantasy;
    background-color: rgb(226, 226, 23);
    padding: 8px 8px;
}
